/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2017, 8:08:13 AM
    Author     : sharath nair <sharath.nair@polarcus.com>
*/

.check-box:selected > .box{
    -fx-background-color: greenyellow;
}

.check-box > .box{
    -fx-background-color: orange;
}

.check-box:indeterminate > .box{
    -fx-background-color: red;
}

.check-box:indeterminate .mark{
    -fx-shape: "M2,0L5,4L8,0L10,2L6,5L10,8L10,10L8,10L5,6L2,10L0,10L0,8L4,5L0,2L0,0Z";
}